body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f7f7f7;
  color: #333;
}

header {
  background: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  background: white;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #eee;
  margin: 5px;
  padding: 10px;
  border-radius: 5px; 
}

.project img {
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: white;
}





.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0 auto 15px auto;
  display: block;
}
